.red {
	background-color: red;
	height: 100px; 
}
.blue {
	background-color: blue;
	height: 100px; 
}
.violet {
	background-color: violet;
	height: 100px; 
}
.black {
	background-color: black;
	height: 100px; 
}
.grey {
	background-color: grey;
	height: 100px; 
}
.pink {
	background-color: pink;
	height: 100px; 
}
.orange {
	background-color: orange;
	height: 100px; 
}
.yellow {
	background-color: yellow;
	height: 100px; 
}
.marroon {
	background-color: marroon;
	height: 100px; 
}
.green {
	background-color: green;
	height: 100px; 
}
.lightblue {
	background-color: LightBlue;
	height: 100px; 
}
.forestgreen {
	background-color: ForestGreen;
	height: 100px; 
}
